AddHasExamDateToCourseCertificateTypes: alter table `course_certificate_types` add `has_exam_date` int not null default '0' after `authority_display_name`
AddLastExamDateToCourseCertificate: alter table `course_certificate` add `last_exam_date` date null after `fee_details_json`
CreateAdmissionCertificatesTable: create table `admission_certificates` (`id` bigint unsigned not null auto_increment primary key, `graduation_id` int not null, `digi_document_id` int not null, `is_mandatory` int not null default '0', `status` int not null default '1', `created_by` int not null, `updated_by` int null, `created_at` timestamp null, `updated_at` timestamp null) default character set utf8mb4 collate 'utf8mb4_unicode_ci'
AddColomnsToTcApplicationTable: alter table `tc_application` add `updated_by` int null, add `updated_at` timestamp null
-- InsertValuesToImportantLinksTable: insert into `important_link_categories` (`name`, `created_by`, `status`, `created_at`) values (?, ?, ?, ?)
-- InsertValuesToImportantLinksTable: insert into `important_links` (`link_name`, `url`, `display_order`, `important_link_category_id`, `created_by`, `status`, `created_at`) values (?, ?, ?, ?, ?, ?, ?)
AddUpdatedByColomnToOnlinePaymentsTable: alter table `online_payments` add `updated_by` int null
AddMainAccountIdColoumnToRemittanceMasterTable: alter table `remittance_master` add `main_account_id` int null after `ledger_id`
CreatePaperGroupTable: create table `paper_group` (`id` bigint unsigned not null auto_increment primary key, `group_name` varchar(255) not null, `paper_id` int not null, `faculty_id` int not null, `status` int not null default '1', `created_by` int not null, `updated_by` int null, `created_at` timestamp null, `updated_at` timestamp null) default character set utf8mb4 collate 'utf8mb4_unicode_ci'
CreateGroupPaperFacultyTable: create table `group_paper_faculty` (`id` bigint unsigned not null auto_increment primary key, `group_id` varchar(255) not null, `faculty_id` int not null, `status` int not null default '1', `created_by` int not null, `updated_by` int null, `created_at` timestamp null, `updated_at` timestamp null) default character set utf8mb4 collate 'utf8mb4_unicode_ci'
AddUniqueUserIdUserTypeUsersTable: alter table `users` add unique `unique_user_id_user_type`(`user_type`, `user_id`)
CreateStudentLogTable: create table `student_log` (`id` bigint unsigned not null auto_increment primary key, `operation` int not null default '-1', `message` varchar(255) not null, `fk_table_id` int not null, `table_type_id` int not null, `created_by` int not null, `created_at` timestamp not null) default character set utf8mb4 collate 'utf8mb4_unicode_ci'
AddDataCloumnToUpdatePapersLogTable: alter table `update_papers_log` add `data` text null
AddFromDateToCourseCertificateTable: alter table `course_certificate` add `from_date` date null, add `to_date` date null after `from_date`
CreateAssetQuotationTable: create table `asset_quotation` (`id` bigint unsigned not null auto_increment primary key, `purchase_order_id` bigint unsigned not null, `quotations` varchar(255) not null, `date` date not null, `code` varchar(255) not null, `remarks` varchar(255) null, `attachment` varchar(255) null, `status` int not null default '1', `created_by` int not null, `updated_by` int null, `created_at` timestamp not null, `updated_at` timestamp null) default character set utf8mb4 collate 'utf8mb4_unicode_ci'
CreateStudentPaperGroupTable: create table `student_paper_group` (`id` bigint unsigned not null auto_increment primary key, `group_id` varchar(255) not null, `student_id` int not null, `status` int not null default '1', `created_by` int not null, `updated_by` int null, `created_at` timestamp null, `updated_at` timestamp null) default character set utf8mb4 collate 'utf8mb4_unicode_ci'
AddUniqueGuardianIdStudentIdApplGuardian: alter table `appl_student_guardian` add unique `unique_guardian_id_student_id`(`student_id`, `guardian_id`)
CreateApplicationCutoffPercentageTable: create table `application_cutoff_percentage` (`id` bigint unsigned not null auto_increment primary key, `course_id` int not null, `quota_id` int not null, `qualifying_exam_id` int not null, `percentage` double(8, 2) not null, `status` tinyint(1) not null default '1', `created_by` int not null, `updated_by` int null, `created_at` timestamp null, `updated_at` timestamp null) default character set utf8mb4 collate 'utf8mb4_unicode_ci'
AddAssetRequestIdToAssetRequestOrderTable: alter table `asset_request_order` add `asset_request_id` int not null after `item_id`
AddDayOrderIdToTimetableTimeslots: alter table `timetable_timeslots` add `day_order_id` int not null after `display_order`
-- AddDayOrderIdInTimetableTimeslotsTable: select `id`, `name` from `timetable_dayorder`
CreateCertificateCourseTable: create table `certificate_course` (`id` bigint unsigned not null auto_increment primary key, `course_name` varchar(255) not null, `dep_id` int not null, `from_date` date not null, `to_date` date not null, `hours` int not null, `intake` int not null, `coordinator` int not null, `status` int not null default '1', `created_by` int not null, `updated_by` int null, `created_at` timestamp not null, `updated_at` timestamp null) default character set utf8mb4 collate 'utf8mb4_unicode_ci'
CreateProgrammeSectorTable: create table `programme_sector` (`id` bigint unsigned not null auto_increment primary key, `name` varchar(255) not null, `short_name` varchar(255) not null, `status` int not null default '1', `created_by` int not null, `updated_by` int null, `created_at` timestamp null, `updated_at` timestamp null) default character set utf8mb4 collate 'utf8mb4_unicode_ci'
AddProgrammeSectorIdToCoursesTable: alter table `courses` add `programme_sector_id` int null after `graduation_id`
-- ChangeValueCertificateTypeIdInCourseCertificateTable: select `id`, `certificate_type`, `certificate_type_id` from `course_certificate`
AddIsReferenceToApplAdmissionTable: alter table `appl_admission` add `is_reference` int not null default '0', add `reference` varchar(255) null after `is_reference`, add `ncc` int not null default '0' after `reference`, add `grade` varchar(255) null after `ncc`
AddIsDisabilityToApplStudentTable: alter table `appl_student` add `is_disability` int not null default '0', add `disability_type_id` int null after `is_disability`, add `percentage` decimal(8, 2) null after `disability_type_id`, add `certificate_number` varchar(255) null after `percentage`, add `country_id` int null after `certificate_number`, add `state_id` int null after `country_id`, add `place` varchar(255) null after `state_id`, add `height` varchar(255) null after `place`, add `weight` varchar(255) null after `height`, add `ration_details` varchar(255) null after `weight`
AddIsDefaultToApplicationMasterTable: alter table `application_master` add `is_default` int not null default '0' after `display_order`
-- AddValuesApplicationMasterTable: delete from `application_master`
-- AddValuesApplicationMasterTable: insert into `application_master` (`created_at`, `created_by`, `display_order`, `id`, `is_default`, `is_skibble`, `sections`, `status`) values (?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?)
-- UpdateIsSkibleValuesApplicationMasterTable: select * from `application_master`
AddIsAntiDowryToApplStudentTable: alter table `appl_student` add `is_anti_dowry` tinyint(1) not null default '0' after `ration_details`, add `is_anti_ragging` varchar(255) null after `is_anti_dowry`
-- AddIsAntiDowryApplicationMasterTable: insert into `application_master` (`created_at`, `created_by`, `display_order`, `id`, `is_default`, `is_skibble`, `sections`, `status`) values (?, ?, ?, ?, ?, ?, ?, ?)
DropIndexUidNumberFromStudentTable: alter table `student` drop index `uid_number`
AddRecieptPathToApplAdmissionTable: alter table `appl_admission` add `reciept_path` varchar(500) null
